services:
  catalogue:
    image: catalogue:v1 
    container_name: catalogue 
    depends_on:
    - mongodb
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  networks:
   default:
     name: roboshop
     external: true

     external: false # true if you have created network manually using docker network command




